.tab-item a {
    border-bottom-color: #222629 !important;
    color: #61892F !important;
}

.tab-item:hover a, .tab-item.active {
    border-bottom-color: #61892F !important;
    color: #222629 !important;
    background: #61892f26;
}