.header {
    text-align: center;
    margin-top: 1%;
    height: 52px;
}

.ultrabold {
    font-weight: 800;
    margin-left: 5%;
    margin-right: 5%;
}

.animated_logo {
    cursor: pointer;
}

.animated_logo img {
    margin-left: 19px;
    transition: 0.5s;
}

.animated_logo:hover img {
    transform: rotate(360deg);
}

.menu-item {
    font-size: 33px;
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
    color: #222629;
    line-height: 33px;
    transition: 0.1s;
}

@media (max-width: 640px) {
    .menu-item {
        font-size: 15px;
        line-height: 11px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .ultrabold {
        font-weight: normal;
    }
    h3 img {
        margin-left: 10px;
    }
}

.animated_logo:hover .menu-item {
    border-bottom: 3px solid #86c232;
}

.menu-item.hover {
    border-bottom: 3px solid #86c23263;
}