.meh-logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
    transition: 7s;
    transition-timing-function: linear;
}

.meh-logo:hover {
    transform: rotate(-360deg);
}

.blinking-cursor {
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0% {
        color: transparent;
    }
    50% {
        color: #61892F;
    }
    100% {
        color: transparent;
    }
}

mark.day {
    background: rgba(134, 194, 50, 0.18823529411764706);
    border-bottom: .05rem solid #86C232;
}

mark.night {
    background: #22262930;
    border-bottom: .05rem solid #222629;
}