/*
    Palette:
    #61892F
    #86C232
    #222629
    #474B4F
    #6B6E70
*/

.inline {
    display: inline-block;
}

b {
    color: #61892F
}

.page {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin-top: 25px;
    animation: 0.5s linear 0s 1 opaticize;
}

body {
    animation: 0.5s linear 0s 1 opaticize;
    font-family: 'Roboto', sans-serif;
}

@keyframes opaticize {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}